<!DOCTYPE html>
<html>
<head>

	<title>Persian Gym</title>
<style type="text/css">
    	body { 
    		color: #ccc;
    		background-color: rgb(114, 81, 57); }
    	h1, h2, h3 {
            font-family: "Anton", monospace ;
            text-shadow: #222 2px 2px; 
    		color: rgb(187, 242, 108);}
    	p {
    		color: #ddd; 
    		font-family: Arial, Helvetica, "comic sans"; 
    		font-size: 3em;} 
        .tile {
            height: 45px;
            width: 900px;
            font-size: 12px; 
            float: left; }
        .tile:hover{
        border: 2px solid yellow;
            height: 41px;
            width: 896px;
            font-size: 12px; 

    	}	
    </style>




</head>
<body>
<h1>How did you overcome imposter-syndrome?  <br>I just never stopped moving.</h1>
<p>Be here.  Now.</p>
<%=message %>
<img src="../views/venus.jpg"><h3>Is there a tennis player photo here?</h3>>
</body>
</html>